Intermediate output/df_renton_fires.csv
# Ignore macOS system files
.DS_Store


# Ignore other unnecessary files
*.log
*.tmp
*.bak


# Allow certain directories and files
!Documents/
!Intermediate output/
!Src/
!README.md
*.pyc
__pycache__
data_512_local/
backup/data_512_part1/
data_512_part1 copy/
